<% content_for :title, @post.title %>

<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1><%= @post.title %></h1>
      <%= render @post %>
    </div>
  </div>
</div>
